.body{
    font-family: revature;
    background-blend-mode: luminosity;
}
.address{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button{
    display: flex;
    justify-content: center;
    margin-left: 170px;
}
