 <div class="px-5 container mt-5">
  <div class=" row row-cols-2">
      <div class=" px-lg-5 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
             <svg xmlns="http://www.w3.org/2000/svg" width="166" height="166" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <div class="mt-3">
             <p>Email:  {{this.email}}</p> 
            </div>

             <div class="align-content-end">
            <button class="btn btn-primary profile-button"  type="submit" (click)="goToPage('/user-profile/add')">Add Address</button> 
        </div>
          </div>
      </div>
      <div class="col-md-5 border-right">

        <!-- //currentUser here -->
          <div class="p-3 py-5" *ngIf="currentUser">
              <div class="profile">
                  <h1 >Profile Settings</h1>
              </div>
              <form  [formGroup]="profileForm">
                <div class="row mt-2">
                  <div class="col-md-6">
                    <label class="labels col-md-3"for="firstName">Name</label>
                    <input id="first-name col-md-3" type="text" placeholder={{this.currentUser.firstName}} formControlName="firstName">
                  </div>
                  <div class="col-md-6">
                    <label class="labels" for="lastName">Last Name</label>
                    <input id="last-name" type="text" placeholder={{this.currentUser.lastName}} formControlName="lastName">
                  </div>
                  <div class="col-md-6">
                    <label class="labels" for="middleName">Middle Name</label>
                    <input id="middle-name" type="text" placeholder= {{this.currentUser.middleName}} formControlName="middleName">
                  </div>
                  <div class="col-md-6">
                    <label class="labels col-md-6" for="email">Email</label>  
                    <input id="email" type="text" formControlName="email" placeholder={{this.currentUser.email}}>
                  </div>  
              </div>        
              <!-- <div class= "row cardContainer mx-3">
                <app-address-card class = "col col-3" *ngFor="let address of addresses" [addressInput]="address"></app-address-card>
              </div>       -->
              
              
              </form>            
             
          </div>
      </div>
  </div>
</div>
<hr>

<div >
  <div class= "row cardContainer mx-3">
    <app-address-card class = "col col-3" *ngFor="let address of addresses" [addressInput]="address"></app-address-card>
  </div> 
</div> 















