
.background{
    background-color: bisque;
    justify-content: center;
    display: flex;
}

.loginContainer{
    margin-bottom: 30px;
}

.login{
    
    padding-top: 25px;
}

.button{
    display: inline;
    margin-top: 30px;
    margin-bottom: 30px;
}