<div class="container">
  <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <h4 class="mb-0">Advanced Search - Enter your search query and select optional filters:</h4>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="Search" size="45">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-5">
                <h5 class="mb-0">Search by:</h5>
                <input type="radio" id="title" name="search" value="title" checked>
                <label for="title">Title</label>

                <input type="radio" id="Author" name="search" value="author">
                <label for="author">Author</label>

                <input type="radio" id="ISBN" name="search" value="isbn">
                <label for="isbn">ISBN</label>

                  <h5>Genres:</h5>
                </div><div class="card">  <div class="col justify-content-center">
<span style="white-space:nowrap"><input type="checkbox" id="fiction" name="genres" value="fiction"><label for="fiction">Fiction</label>&#160;&#160;&#160;</span><span style="white-space:nowrap"><input type="checkbox" id="nonfiction" name="genres" value="nonfiction"><label for="nonfiction">     Non-fiction</label>&#160;&#160;&#160;</span><span style="white-space:nowrap"><input type="checkbox" id="computerscience" name="genres" value="computerscience"><label for="computerscience">Computer Science</label>&#160;&#160;&#160;</span>
            </div><div class="col justify-content-center"><span style="white-space:nowrap"><input type="checkbox" id="philosophy" name="genres" value="philosophy"><label for="philosophy">Philosophy</label>&#160;&#160;&#160;</span><span style="white-space:nowrap"><input type="checkbox" id="psychology" name="genres" value="psychology"><label for="psychology">Psychology</label>&#160;&#160;&#160;</span><span style="white-space:nowrap"><input type="checkbox" id="historical" name="genres" value="historical"><label for="historical">Historical</label>&#160;&#160;&#160;</span>
            </div><div class="col justify-content-center"><span style="white-space:nowrap"><input type="checkbox" id="selfhelp" name="genres" value="selfhelp"><label for="selfhelp">Self-Help</label>&#160;&#160;&#160;</span><span style="white-space:nowrap"><input type="checkbox" id="science" name="genres" value="science"><label for="science">Science</label>&#160;&#160;&#160;</span><span style="white-space:nowrap"><input type="checkbox" id="fantasy" name="genres" value="fantasy"><label for="fantasy">Fantasy</label>&#160;&#160;&#160;</span>
            </div><div class="col justify-content-center"> <span style="white-space:nowrap"><input type="checkbox" id="poetry" name="genres" value="poetry"><label for="poetry">Poetry</label>&#160;&#160;&#160;</span><span style="white-space:nowrap"><input type="checkbox" id="Childrens" name="genres" value="childrens"><label for="childrens">Children's</label>&#160;&#160;&#160;</span><span style="white-space:nowrap"><input type="checkbox" id="cookbook" name="genres" value="cookbook"><label for="cookbook">Cookbook</label></span>
            </div>
            </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h5 class="mb-0">Publication Date</h5>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="From date">
                <input type="text" class="form-control" value="To date">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h5 class="mb-0">Page Count</h5>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="Minimum Pages">
                <input type="text" class="form-control" value="Maximum Pages">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h5 class="mb-0">Price</h5>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="Minimum Price">
                <input type="text" class="form-control" value="Maximum Price">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <input type="button" class="btn btn-primary px-4" value="Submit Search">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
